body {
	font: 12px/30px Georgia, serif;
  background-color: #cdcdcd;
  display: flex;
	flex-direction: column;
	min-height: 100vh;
}

footer {
	display: block;
	align-content: flex-end;
	width: 100%;
	background-color: #999;
	margin-top: 6px;
	padding: 6px;
	padding-top: 0px;
}

.mainBody {
	background-color: #9a9a9a;
	margin-left: 15%;
	margin-right: 15%;
}

.mainBodyAbout {
	background-color: #9a9a9a;
	margin-left: 5%;
	margin-right: 5%;
}

.introTop {
	text-align: center;
}

.introBottom {
	margin-top: 0%;
	font-size: 12px;
}

.introTitle {
	font: italic bold 12px/30px Georgia, serif;
	margin-top: 5%;
	font-size: 32px;
}

.topPict {
	margin: 15%;
	margin-top: 5%;
	margin-bottom: 5%;
}

.introText {
	text-indent: 16px;
	margin: 7%;
	margin-top: 0%;
}

.introBottom {
	weight: 16px;
}

.responsive {
	width: 100%;
	height: auto;
}

.nav-link {
	color:white;
}

.nav-tabs{
	background-color: #454545;
}

.diceInput {
	display: inline-flex;
	background-color: #efefef;
	margin: 16px;
	margin-top: 0px;
	margin-bottom: 0px;
	align-self: center;

}

.shortImputField {
	width: 40%;
}

.tricolum {
	display: inline-flex;
	width: 90%;
	margin: 5%;
	margin-top: 0%;
	margin-bottom: 0%;
	background-color: #898989;
}

.diceRules {
	margin: 5%;
	width: 40%;
	background-color: #787878;
	display: flex;
	justify-content:flex-start;
	flex-direction: column;
}

h4 {
	text-align: center;
	background-color: #343434;
	color: #cdcdcd;
}

.aDiceRule {
	margin-left: 5%;
}

.rollButton {
	margin: 30%;
	margin-bottom: 5%;
	margin-top: 5%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.dice {
	background-color: #efefef;
	margin: 5%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.diceLabels {
	margin-left: 15%;
	display: block;
}

.info {
	display: inline-flex;
	background-color: #898989;
	margin: 5%;
	margin-bottom: 0%;
	width: 90%;
	font-size: 22px;
}

.infoPicture {
	width: 30%;
	height: auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 5%;
}

.infoText {
	margin: 5%;
	text-indent: 22px;
	width: 100%;
	}

	.pairedLists {
		display: inline-flex;
		font-size: 16px;
	}

.results {
	background-color: #454545;
	margin: 5%;
	margin-top: 0%;
	width: 90%;
	color: #efefef;
}

.rollResult {
	padding: 5%;
	text-align: center;

}

@media only screen and (max-width: 600px) {
	#aboutPict2 {
		display: block;
	}
	#aboutPict {
		display: block;
	}

	.aboutPict2T {
		width: 80%;
		margin: 5%;
	}
	.aboutPict2P {
		width: 80%;
		margin: 5%;
		height: auto;
		display: block;
	}

	.aboutPictT {
		text-indent: 12px;
		margin: 5%;
		width: 80%;
	}

	.aboutPictP {
		margin: 5%;
		margin-bottom: 2%;
		width: 80%;
		height: auto;
	}

	.tricolum {
		display: block;

	}

	.diceRules {
		width: 90%;
	}
}



@media only screen and (min-width: 600px){
	#aboutPict {
		display: inline-flex;
		background-color: #898989;
	}

	#aboutPict2 {
		display: inline-flex;
	}

	.aboutPictT {
		text-indent: 12px;
		margin-top: 5%;
		margin-right: 10%;
		margin-bottom: 2%;
		width: 50%;
	}

	.aboutPictP {
		margin: 5%;
		margin-bottom: 2%;
		width: 40%;
		height: auto;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	.aboutPict2T {
		text-indent: 12px;
		margin-top: 2%;
		margin-right: 5%;
		margin-left: 10%;
		margin-bottom: 5%;
		width: 40%;
	}
	.aboutPict2P {
		margin: 5%;
		margin-top: 2%;
		width: 60%;
		height: auto;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #bcbcbc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #121212;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
